<!DOCTYPE html>
<html translate="no" lang="en">
  <head>
    <%- include('partials/head', {title:"Members-Only Dashboard"}) %>
  </head>
  <body class="font-[roboto] ">
    <%- include('./partials/header') %>
    <%- include('./partials/modal') %>
    <%- include('./partials/background') %>
  
<div class="w-full flex  items-center justify-center flex-col relative ">
  <div class="container  flex  justify-center md:mt-8 mt-4">
  <%- include('./partials/authorOffer') %>
  <% console.log(user) %>
<%- include('./partials/thoughtbox') %>
  </div>
  
</div>



  

  </body>
</html>
